.error-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    min-height: 100vh;
    background-color: #8A2BE2;  
    
    
    &-sub {        
        width: 70%;
        max-width: 800px;
        text-align: center;
        margin: 10px 10px;
        padding: 20px 20px;
        
        h1 {
            text-transform: uppercase;
            font-size: 35px;
            color: #FBFBFF;
            padding: 0px 0 20px 0;
        }
        
        p {
            font-size: 20px;
            color: #081B4B;
            padding: 0;
        }
    }
    
    &-logo {
        width: 160px;
        height: auto;
        margin: 0 0 30px 0;
    }
}

.error-btn {
    
    margin-top: 20px;    
    text-decoration: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    color: #FBFBFF;
    background-color: #FF9306;


    &:hover {
        color: #8A2BE2;
        transition: all 0.5s;
        cursor: pointer;
    }
}