.pricing {
    
    &-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #FBFBFF;
        padding-bottom: 80px;
    }
    
    &-top {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-top: 30px;
        margin: 0;
        background-color: #8A2BE2;
    }
    
    &-top-sub {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        margin: auto;
        padding: 40px 40px;
        width: 70%;
        max-width: 1035px;
        
        h1 {
            font-size: 50px;
            font-weight: 500;
            color: #FBFBFF;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
        
        h2 {
            font-size: 30px;
            font-weight: 500;
            margin-top: 10px;
            color: #050F2B;
            letter-spacing: 3px;
        }
    }
    
    &-container {
        position: relative;
        width: 100%;
        
        &::after {
            content: '';
            background: #8A2BE2;
            height: 350px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        
        &-sub {
            display: flex;
            margin: 0 auto;
            padding: 50px 0 0;
            max-width: 960px;
            width: 80%;
            align-items: center;
            justify-content: center;
        }
    }   
}

.table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
}

.panel {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.plan {
    border-bottom: none;
    border-right: 1px solid rgb(138, 43, 226, 0.3);
    flex-basis: 100%;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    
    &:last-child {
        border-right: none;
    }
}

  
.price {
    
    color: #FF9306;
    display: block;
    font-size: 32px;
    font-weight: 700;
    margin-top: auto;
    
    &-img {
        margin-bottom: 25px;
        max-width: 100%;
    }
  
    &-header {
        color:#8A2BE2;
        font-weight: 600;
        letter-spacing: 1px;
    }
  
    &-features {
        color: #050F2B;;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 50px 0 25px;
        display: flex;
        flex-direction: column;
        
        &-item {
            border-top: 1px solid rgb(138, 43, 226, 0.3);
            font-size: 12px;
            line-height: 1.5;
            padding: 15px 0;
            
            &:last-child {
                border-bottom: 1px solid rgb(138, 43, 226, 0.3);
            }
        }
    }
    
    &-button {
        border: 1px solid #c27004;
        align-self: center;
        width: 75%;
        border-radius: 10px;
        color: #FF9306;
        display: inline-block;
        margin: 25px 0;
        padding: 15px 35px;
        text-decoration: none;
        transition: all 150ms ease-in-out;
        
        &:hover {
            color: #FBFBFF;
            background-color: #FF9306;            
        }
    }
}


@media only screen and (max-width: 1100px) {
    
    .panel {
        padding: 5px 10px;
    }
    
    .plan {
        padding: 10px 20px;
    }
      
    .price {
        
        font-size: 25px;
        
        &-img {
            align-self: center;
            margin-top: 25px;
            max-width: 80%;
        }
      
        &-features {

            margin: 40px 0 20px;
            
            &-item {
                font-size: 10px;
            }
        }
        
        &-button {
            width: 55%;
            margin: 20px 0;
            padding: 10px 25px;
        }
    }    
}


@media only screen and (max-width: 957px) {
    
    .table {
        flex-direction: column;
    }
    
    .panel {
        padding: 15px 25px;
    }
    
    .plan {
        border-right: none;
        border-bottom: 1px solid rgb(138, 43, 226);
        padding: 25px 50px;
        
        &:last-child {
            border-bottom: none;
        }

    }
      
    .price {
        
        font-size: 32px;
        
        &-img {
            margin-bottom: 25px;
        }
      
        &-features {

            margin: 50px 0 25px;
            
            &-item {
                font-size: 12px;
            }
        }
        
        &-button {
            width: 75%;
            margin: 25px 0;
            padding: 15px 5px;
        }
    }
    
}


@media only screen and (max-width: 450px) {
    
    .pricing {
        
        &-top-sub {
            
            padding: 35px 35px;
            
            h1 {
                font-size: 40px;
            }
            
            h2 {
                font-size: 25px;
            }
        }
    }
    
    .plan {
        padding: 25px 20px;
    }
}


@media only screen and (max-width: 405px) {
    
    .pricing {
        
        &-top-sub {
            
            padding: 30px 10px;
            
            h1 {
                font-size: 35px;
            }
            
            h2 {
                font-size: 20px;
            }
        }
    }
}