<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JMarketers - Page Not Found</title>
        <link rel="icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/404.css">
    </head>
    
    <body>
        
        <main class="error-container">
            
            <div class="error-container-sub">
                <img src="/images/logo.svg" class="error-container-logo" alt="JMarketers Logo">
                <h1>Page Not Found</h1>
                <p>Sorry, but we can't find the page you're looking for</p>
                <a href="/">
                    <button class="error-btn">Home</button>
                </a> 
            </div>
            
        </div>


    </body>
</html>