<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JMarketers - About Us</title>
        <link rel="icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/about.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
    </head>
    
    <body>
        
        <header>
            <%- include("header") %>
        </header>

        <main class="about-main">
            <div class="about-top">          
                <div class="about-top-sub">          
                    <h1>About Us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed augue lacus viverra vitae congue eu consequat. Donec enim diam vulputate ut pharetra sit. Malesuada proin libero nunc consequat interdum. Euismod lacinia at quis risus sed vulputate odio ut. Mollis nunc sed id semper risus in hendrerit gravida. Neque egestas congue quisque egestas diam. Commodo elit at imperdiet dui accumsan sit. Tellus mauris a diam maecenas sed enim ut sem viverra. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl.</p>
                </div>
            </div>
            <div class="about-container about-container-text-right">
                <div class="about-container-sub">         
                    <img src="/images/team.png" alt="People in a  team">
                </div>
                <div class="about-text about-container-sub">
                    <h2>Our Team</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Magna sit amet purus gravida. Gravida quis blandit turpis cursus in hac habitasse. Vestibulum mattis ullamcorper velit sed ullamcorper morbi. Sit amet cursus sit amet dictum sit amet. Dui faucibus in ornare quam. Massa tincidunt nunc pulvinar sapien et. Est lorem ipsum dolor sit. Pharetra pharetra massa massa ultricies. Ac tincidunt vitae semper quis lectus nulla. Condimentum lacinia quis vel eros. Netus et malesuada fames ac turpis egestas maecenas pharetra. Egestas egestas fringilla phasellus faucibus scelerisque eleifend.</p>
                </div>
            </div>
            <div class="about-container about-container-text-left">
                <div class="about-text about-container-sub">         
                    <h2>From 1996 To Today</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus elementum sagittis vitae et leo. Ut porttitor leo a diam sollicitudin tempor id. Porttitor massa id neque aliquam vestibulum morbi blandit. Sed enim ut sem viverra aliquet eget sit. Sapien nec sagittis aliquam malesuada bibendum.</p>
                </div>
                <div class="about-container-sub">
                    <img src="/images/time.png" alt="Calendar">
                </div>
            </div>
            <div class="about-container about-container-text-right">
                <div class="about-container-sub">         
                    <img src="/images/grow.png" alt="Growth chart">
                </div>
                <div  class="about-text about-container-sub">
                    <h2>Growth</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor neque vitae tempus quam pellentesque nec nam. Tincidunt vitae semper quis lectus. Tempor nec feugiat nisl pretium fusce. A scelerisque purus semper eget duis. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Sit amet aliquam id diam maecenas ultricies.</p>
                </div>
            </div>
            <div class="about-container about-container-text-left">          
                <div  class="about-text about-container-sub">         
                    <h2>Our Approach</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et. Imperdiet massa tincidunt nunc pulvinar sapien. Pretium fusce id velit ut. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget nullam. Suscipit tellus mauris a diam. Gravida in fermentum et sollicitudin. Fermentum iaculis eu non diam phasellus vestibulum lorem sed risus. Leo urna molestie at elementum eu.</p>
                </div>
                <div class="about-container-sub about-img">
                    <img src="/images/approach.jpg" alt="Working on approach">
                </div>
            </div>
            <div class="about-container about-container-text-right">          
                <div class="about-container-sub">         
                    <img src="/images/culture.jpg" alt="Team jumping up">
                </div>
                <div  class="about-text about-container-sub">
                    <h2>Our Culture</h2> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing vitae proin sagittis nisl. Lectus sit amet est placerat in egestas erat imperdiet. Aliquet risus feugiat in ante. At tempor commodo ullamcorper a lacus. Faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Metus aliquam eleifend mi in. Non tellus orci ac auctor augue mauris. Nam libero justo laoreet sit amet cursus sit amet. Lorem ipsum dolor sit amet consectetur. Senectus et netus et malesuada fames ac turpis egestas. Iaculis nunc sed augue lacus viverra.</p>
                </div>
            </div>
        </main>
        
        <footer>
            <%- include("footer") %>
        </footer>
            
        <script src="/js/main.js"></script>
        <script src="/js/about.js"></script>

    </body>
</html>
