<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JMarketers - Home</title>
        <link rel="icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>

    <body>

        <header>
            <%- include("header") %>      
        </header>
        
        <main class="index-main">
            <div class="home-left-content">
                <h1 class="index-heading">JMarketers</h1>         
                <img class="meeting-img" src="/images/meeting.png" alt="People in meeting">            
            </div>
            <div class="home-right-content">          
                <h1>JMarketers</h1>
                <h2>Digital Marketing</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Aliquet nibh praesent tristique magna sit amet purus. Risus nec feugiat in fermentum posuere.</p>
                <a href="services">
                    <button class="learn-button">Learn More</button>
                </a>          
            </div>
            


        </main>
        <script src="/js/main.js"></script>
    </body>

</html>
