<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JMarketers - Privacy Policy</title>
        <link rel="icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/policy.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
    </head>
    
    <body>
        
        <header>
            <%- include("header") %>
        </header>

        <main class="policy-main">
            <div class="policy-top">
                <div class="policy-top-sub">
                    <h1>JMarketers Privacy Policy</h1>
                </div>                
            </div>
        </div>
        <div class="policy-container">
            <div class="policy-container-sub">
                <div>
                    <h2>A - Vitae Purus Faucibus</h2> 
                    <ol>
                        <li>Ac tortor vitae purus faucibus ornare. Luctus accumsan tortor posuere ac. Vestibulum morbi blandit cursus risus at ultrices. Cras ornare arcu dui vivamus arcu felis bibendum ut. Libero enim sed faucibus turpis in. Nunc eget lorem dolor sed viverra ipsum nunc aliquet bibendum.</li>
                        <li>Est pellentesque elit ullamcorper dignissim cras tincidunt. Diam donec adipiscing tristique risus. Dolor sit amet consectetur adipiscing elit. Tincidunt eget nullam non nisi est sit amet. Mi tempus imperdiet nulla malesuada pellentesque elit.</li>
                        <li>Faucibus nisl tincidunt eget nullam. Dictum sit amet justo donec enim diam vulputate. Tellus elementum sagittis vitae et leo.</li>
                    </ol> 
                </div>
                <div>
                    <h2>B - Non Curabitur</h2> 
                    <ol>
                        <li>At elementum eu facilisis sed odio morbi. Varius morbi enim nunc faucibus a. Enim lobortis scelerisque fermentum dui faucibus in ornare. Aliquet porttitor lacus luctus accumsan tortor.</li>
                        <li>Ac tortor vitae purus faucibus. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Commodo elit at imperdiet dui accumsan sit.</li>
                        <li>Erat imperdiet sed euismod nisi porta lorem mollis. Neque vitae tempus quam pellentesque nec. Habitasse platea dictumst vestibulum rhoncus. Convallis tellus id interdum velit laoreet. Lectus proin nibh nisl condimentum id venenatis a condimentum.</li>
                        <li>Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu. Neque sodales ut etiam sit amet. Blandit volutpat maecenas volutpat blandit. Pellentesque sit amet porttitor eget dolor morbi non. Libero justo laoreet sit amet cursus sit amet.</li>
                        <li>Donec massa sapien faucibus et. Suspendisse interdum consectetur libero id faucibus. Ipsum consequat nisl vel pretium lectus quam id leo.</li>
                    </ol> 
                </div>
                <div>
                    <h2>C - Euismod In Pellentesque Massa</h2> 
                    <ol>
                        <li>Eget arcu dictum varius duis at consectetur lorem donec massa. Aliquam ultrices sagittis orci a scelerisque purus. Viverra orci sagittis eu volutpat odio facilisis mauris.</li>
                        <li>Cursus mattis molestie a iaculis at erat pellentesque adipiscing. Euismod elementum nisi quis eleifend quam. Sapien pellentesque habitant morbi tristique senectus et netus.</li>
                        <li>Egestas pretium aenean pharetra magna ac placerat. Convallis convallis tellus id interdum. Risus nullam eget felis eget nunc lobortis. Nullam non nisi est sit amet facilisis magna.</li>
                    </ol> 
                </div>
                <div>
                    <h2>D - Nisl Condimentum Id Venenatis</h2> 
                    <ol>
                        <li>Posuere ac ut consequat semper viverra nam. Odio morbi quis commodo odio. Et malesuada fames ac turpis egestas maecenas pharetra. Vitae suscipit tellus mauris a diam maecenas sed. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum.</li>
                        <li>Euismod in pellentesque massa placerat duis ultricies lacus sed. Fusce id velit ut tortor pretium viverra. Dui nunc mattis enim ut tellus elementum sagittis. Magnis dis parturient montes nascetur ridiculus mus mauris.</li>
                        <li>Vulputate enim nulla aliquet porttitor lacus luctus. Feugiat sed lectus vestibulum mattis. In egestas erat imperdiet sed euismod nisi porta lorem mollis. Volutpat odio facilisis mauris sit.</li>
                        <li>Phasellus egestas tellus rutrum tellus. Proin fermentum leo vel orci. Eros donec ac odio tempor orci dapibus ultrices. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Arcu risus quis varius quam quisque id diam vel.</li>
                    </ol> 
                </div>
                <div>
                    <h2>E - Faucibus Nisl Tincidunt Eget</h2> 
                    <ol>
                        <li>Tempus urna et pharetra pharetra massa. Risus nullam eget felis eget nunc. Sem et tortor consequat id porta nibh. Nunc faucibus a pellentesque sit amet porttitor eget dolor morbi. Vitae ultricies leo integer malesuada nunc vel risus. Mi tempus imperdiet nulla malesuada pellentesque. Sapien pellentesque habitant morbi tristique senectus et netus. Mauris cursus mattis molestie a.</li>
                        <li>Massa tempor nec feugiat nisl pretium fusce id velit. Senectus et netus et malesuada fames ac. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Lacus sed viverra tellus in hac habitasse platea dictumst. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque.</li>                        
                    </ol> 
                </div>
            </div>
        </div>
        </main>
        
        <footer>
            <%- include("footer") %>
        </footer>
            
        <script src="/js/main.js"></script>

    </body>
</html>