<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JMarketers - Services</title>
        <link rel="icon" href="/images/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Signika+Negative&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/services.css">
        <link rel="stylesheet" type="text/css" href="/css/footer.css">
    </head>
    
    <body>
        
        <header>
            <%- include("header") %>
        </header>

        <main class="services-main">
            <div class="services-top">
                <div class="services-top-sub">
                    <h1>Services</h1>
                    <h2>How Can We Help You?</h2>
                </div>                
            </div>
            <div class="services-cards">
                <div class="services-cards-sub">
                    <div>
                        <h1>SEO Services</h1> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
                        <p>Donec massa sapien faucibus et molestie ac. Pulvinar neque laoreet suspendisse interdum consectetur. Amet nisl purus in mollis. Natoque penatibus et magnis dis parturient. Proin sed libero enim sed faucibus turpis</p>
                    </div>
                    <div>
                        <h1>Social Media Marketing</h1> 
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Condimentum id venenatis a condimentum vitae sapien pellentesque. Mi proin sed libero enim sed faucibus turpis in eu. Vitae congue mauris rhoncus aenean vel elit.</p>
                        <p>Lacus sed viverra tellus in. Eu mi bibendum neque egestas congue quisque. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Libero id faucibus nisl tincidunt eget nullam non nisi. Pellentesque elit eget gravida cum sociis natoque penatibus et. Justo donec enim diam vulputate ut pharetra sit amet.</p>
                    </div>
                    <div>
                        <h1>Email Marketing</h1> 
                        <p>Urna molestie at elementum eu facilisis sed odio morbi quis. Enim neque volutpat ac tincidunt. Cursus euismod quis viverra nibh cras pulvinar mattis. Velit egestas dui id ornare arcu odio. Diam maecenas ultricies mi eget mauris pharetra. Semper quis lectus nulla at volutpat diam ut. Condimentum id venenatis a condimentum. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Amet cursus sit amet dictum sit amet justo.</p>
                        <p>Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis.</p>
                        <p>Ut diam quam nulla porttitor massa id neque aliquam. Interdum velit euismod in pellentesque massa placerat. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra.</p>
                    </div>
                    <div>
                        <h1>Website Development and Design</h1> 
                        <p>Nisi vitae suscipit tellus mauris a. Diam phasellus vestibulum lorem sed risus ultricies tristique. Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Nibh nisl condimentum id venenatis. Egestas integer eget aliquet nibh praesent tristique magna. Sem fringilla ut morbi tincidunt augue. Sapien nec sagittis aliquam malesuada bibendum arcu vitae.</p> 
                        <p>Est placerat in egestas erat imperdiet sed euismod nisi. Et netus et malesuada fames ac turpis. Nullam non nisi est sit. At elementum eu facilisis sed odio morbi. Venenatis a condimentum vitae sapien pellentesque. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Bibendum enim facilisis gravida neque convallis a cras semper auctor. Proin sagittis nisl rhoncus mattis rhoncus. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum.</p>
                    </div>
                </div>
            </div>
            <div class="services-consult">
                <div class="services-consult-sub">
                    <h1>Talk To Us</h1>                    
                </div>
                <a href="contact-us">
                    <button class="consult-button">Book a Consultation</button>
                </a>                 
            </div>
        
            
        </main>
        
        <footer>
            <%- include("footer") %>
        </footer>
            
        <script src="/js/main.js"></script>

    </body>
</html>
